version: "3.9"
services:
  server:
    build:
      context: .
    image: fasanua-server:latest
    environment:
      - PORT=8000
    ports:
      - "8000:8000"
  client:
    build:
      context: ..
      dockerfile: server/client.Dockerfile
    image: fasanua-client:latest
    depends_on:
      - server
    ports:
      - "5173:80"


